h1, .cola-logo {
    color: #e6142c;
    float: left;
    padding: 15px;
}
.cola-logo {
    height: 150px;
    width: auto;
}
.container-fluid {
    padding-left: 50px;
}
/*  SECTIONS */
.section {
    clear: both;
    padding: 0px;
    margin: 0px;
}

/*  COLUMN FRAMEWORK */
.col {
    display: block;
    float: left;
    margin: 10px;
}
.col:first-child {margin-left: 0;}

/* GROUPING */
.group:before,
.group:after {
    content:"";
    display:table;
}
.group:after {
    clear:both;
}

/* FOUR COLUMN GRID */
.span_4_of_4 {
    width: 98%;
}
.span_3_of_4 {
    width: 73%;
}
.span_2_of_4 {
    width: 48%;
}
.span_1_of_4 {
    width: 23%;
}
