.cola-logo {
    float: left;
    width: 80px;
    height: auto;
    margin: 20px 10px 20px 50px;
}
h1 {
    text-align: left;
    color: #e6142c;
    margin-top: 50px;
}

/*  COLUMN FRAMEWORK */
.clearfix {
    overflow: auto;
    zoom: 1;
}
.sign {
    display: block;
}
.sign img {
    padding: 5px;
    width: 60%;
    height: auto;
}
