<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" contento="width=device=width, intial-scale=1">
        <title>Coockoo for Cola</title>

        <!--VENDOR CSS-->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css">

        <!--STYLESHEETS-->
        <link rel="stylesheet" href="/style/main.css">

        <!--FONTS-->

        <!--VENDOR SCRIPTS-->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.matchHeight/0.7.2/jquery.matchHeight-min.js"></script>

        <!--APPLICATION SCRIPTS-->
        <script src="/scripts/app.js"></script>
    </head>
    <body>
        <div class="container">
            <div class ="row header">
                <div class="col-md-12">
                    <h1>Coockoo for Cola</h1>
                </div>
            </div>
        </div>
        <div class="container-fluid entry-grids">
            <div class="section group form">
                <div class="col span_4_of_12" id="submit-form">
                    <form method="POST" action="/api/signs" id="submit-entry">
                        <div class="form-group">
                            <label for="street-address">Street Address</label>
                            <input type="text" name="street_address" id="street-address" class="form-control" value="">
                        </div>
                        <div class="form-group">
                            <label for="city">City</label>
                            <input type="text" name="city" id="city" class="form-control" value="">
                        </div>
                        <div class="form-group">
                            <label for="state">State</label>
                            <input type="text" name="state" id="state" class="form-control" value="">
                        </div>
                        <div class="form-group">
                            <label for="description">Description</label>
                            <input type="text" name="description" id="description" class="form-control" value="">
                        </div>
                        <div class="form-group">
                            <label for="image-url">Image URL</label>
                            <input type="text" name="image_url" id="image-url" class="form-control" value="">
                        </div>
                        <button type="submit" class="btn btn-danger">Submit</button>
                    </form>
                </div>
                <div class="col span_6_of_12">
                    column 6 of 8
                </div>
                <div class="col span_8_of_12">
                    column 8 of 8
                </div>
            </div>
            <div class="section group">
                <div class="col span_1_of_4 matchheight">
                column 1 of 4
                </div>
                <div class="col span_2_of_4 matchheight">
                column 2 of 4
                </div>
                <div class="col span_3_of_4 matchheight">
                column 3 of 4
                </div>
                <div class="col span_4_of_4 matchheight">
                column 4 of 4
                </div>
            </div>
        </div>
        <!-- corresponds to Match Height jQuery file -->
        <script type="text/javascript">
        jQuery(function($) {
            $('.matchheight').matchHeight();
        });
        </script>
    </body>
</html>
